extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let recipeid = toShow._id
    - let type = toShow.type
    - let taste = toShow.taste
    - let price = toShow.price
    - let actionid = "/resource/recipe/" + recipeid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='recipeAttr mr-3') recipe ID is:
        div #{recipeid}
      div.row
        div(class='recipeAttr mr-3') recipe Type is:
        div #{type}
      div.row
        div(class='recipeAttr mr-3') recipe taste is:
        div #{taste}
      div.row
        div(class='recipeAttr mr-3') recipe recipe is:
        div #{price}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the recipe collection
        window.location.href='/recipes'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/recipes'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
